.header {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 12px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
}

.brandContainer {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.brandIcon {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.logo {
    font-weight: bold;
    color: #333;
}

.menuButton {
    position: relative;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

.dropdownMenu {
    display: none;
    position: absolute;
    transform: translateX(-100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: auto;
    transform: none;
    flex-direction: column;
    top: 100%;
    right: 2%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    z-index: 1000;
}

.menuActive {
    display: flex;
    flex-direction: column;
}

.menuItem {
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: #333333;
    border: 1px solid #dddddd;
}

.menuItem:hover {
    background-color: #f6f6f6;
}

/* Responsive styling */
@media (min-width: 600px) {
    .dropdownMenu {
        display: flex;
        flex-direction: row;
        position: static;
        border: none;
        box-shadow: none;
    }
    .menuButton {
        display: none;
    }
    .menuItem {
        padding: 0.5rem 1rem;
        border: none;
    }
    .menuActive {
        display: flex;
    }
}
