.listContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 12px;
    gap: 20px;
}
